body{
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
  margin: 0 auto;
  width: 500px;
  border: 3px solid red;
  padding: 30px 60px 80px 60px;
  text-align: center;
}

img{
  width: 350px;
}

h1, p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: red;
}

p{
  margin-bottom: 40px;
}

a{
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}